.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
}

.App-header {
  background-color: #282c34;
  max-height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 10px;
}

.App-link {
  color: #09d3ac;
}

.logout{
  display: flex;
  margin-left: auto;
}
